[build]
  command = "npm install"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  directory = "netlify/functions"
  

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200